@page
@model NetCade.Pages.Game1Model
@{
    ViewData["Title"] = "Game 1";
}


<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <h2>It's @Model.Time  right now!</h2>

    /*Code goes here*/

</div>