@page
@model NetCade.Pages.Game1Model
@{
    ViewData["Title"] = "Jelly Run";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 10px;
            background: #5e0202; /*dark red*/
        }

        /* Style the header */
        .header {
            background-color: #5e0202; /*dark red*/
            padding: 20px;
            text-align: center;
        }

        /* Create 2 unequal columns that floats next to each other */
        .column {
            float: left;
            padding: 10px;
        }

            /* Left and right column */
            .column.side {
                width: 25%;
            }

            /* Middle column */
            .column.middle {
                width: 75%;
            }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Add a card effect for articles */
        .card {
            background-color: #555454;
            padding: 20px;
            margin-top: 20px;
        }
    </style>
    <style id="buttons" type="text/css">
        .button {
            background-color: #00a9ff; /*light blue*/
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            font-size: 20px;
            border-radius: 14px;
        }

        .button2 {
            background-color: #004bff; /*blue*/
        }

        .button3 {
            background-color: #00d425; /*Green*/
            color: black; /*black*/
        }
    </style>
    <style id="text">
        p {
            color: #ffffff;
            text-shadow: 2px 2px black;
            font-size: 20px;
        }

        h1 {
            color: #ffffff;
            text-shadow: 2px 2px black;
        }

        h2 {
            color: #ffffff;
            text-shadow: 2px 2px black;
        }
    </style>
    @*<meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Unity WebGl Player</title>
        <link rel="shortcut icon" href="~/TemplateData/favicon.ico" />
        <link rel="stylesheet" href="~/TemplateData/style.css" />
        <script src="~/TemplateData/UnityProgress.js"></script>
        <script src="~/Build/UnityLoader.js"></script>
        <script>
            var gameInstance = UnityLoader.instantiate("gameContainer", "/Build/JellyRunHTML.json", { onProgress: UnityProgress})
        </script>*@
</head>

<body class="header">
    <div class="column middle">
        <div class="card">
            <h1>@ViewData["Title"]</h1>
        </div>
        @*<div class="webgl-content">
                <div id="gameContainer" style="width: 960px; height: 600px"></div>
                <div class="footer">
                    <div class="webgl-logo"></div>
                    <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
                    <div class="title">JellyRun</div>
                </div>
            </div>*@

    <p>
        <a href="~/JellyRunBuild/SEP Game 1.exe" target="_blank">Download Game</a>
    </p>
    </div>

    <div class="column side">
        <div class="card">
            <h2>Other Games</h2>
            <p>
                <a href="https://localhost:44380/StoryGame" target="_self"><button class="button button3">Story Game</button></a>
                <a href="https://localhost:44380/Game2" target="_self"><button class="button button2">Dino Bounce</button></a>
            </p>
        </div>
    </div>

</body>
