@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to NetCade</h1>
    <h2>It's @Model.Time  right now on the server!</h2>
    <button>Game 1</button>
    <button>Game 2</button>
    <button>Story Game</button>
</div>
