@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <style>
        body {
            margin: 0;
            padding: 10px;
            background: #5e0202; /*dark red*/
        }

        .button {
            background-color: red; /*red*/
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            font-size: 14px;
            border-radius: 12px;
        }

        .button2 {
            background-color: blue; /*blue*/
        }

        .button3 {
            background-color: black; /*black*/
        }
    </style>
    <style id="text">
        p {
            color: #ffffff;
            text-shadow: 2px 2px black;
        }

        h1 {
            color: #ffffff;
            text-shadow: 2px 2px black;
        }

        h2 {
            color: #ffffff;
            text-shadow: 2px 2px black;
        }
    </style>
</head>

<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to NetCade</h1>
        <h2>It's @Model.Time  right now on the server!</h2>
        <p>
            You get to chose which game you want to play.
        </p>
        <a href="https://localhost:44380/Game1" target="_self"><button class="button">Game 1</button></a>
        <a href="https://localhost:44380/Game2" target="_self"><button class="button button2">Game 2</button></a>
        <a href="https://localhost:44380/StoryGame" target="_self"><button class="button button3">Story Game</button></a>
    </div>
</body>