@page
@model Intro.Pages.IntroModel
@{
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 10px;
            background: #5e0202; /*dark red*/
        }

        /* Style the header */
        .header {
            background-color: #5e0202; /*dark red*/
            padding: 20px;
            text-align: center;
        }

        /* Create 2 unequal columns that floats next to each other */
        .column {
            float: left;
            padding: 10px;
        }

            /* Left and right column */
            .column.side {
                width: 25%;
            }

            /* Middle column */
            .column.middle {
                width: 75%;
            }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Add a card effect for articles */
        .card {
            background-color: #555454;
            padding: 20px;
            margin-top: 20px;
        }
    </style>
    <style id="buttons" type="text/css">
        .button {
            background-color: #00a9ff; /*light blue*/
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            font-size: 20px;
            border-radius: 14px;
        }

        .button2 {
            background-color: #004bff; /*blue*/
        }

        .button3 {
            background-color: #00d425; /*Green*/
        }
    </style>
    <style id="text">
        p {
            color: #ffffff;
            text-shadow: 2px 2px black;
            font-size: 20px;
        }

        h1 {
            color: #ffffff;
            text-shadow: 2px 2px black;
        }

        h2 {
            color: #ffffff;
            text-shadow: 2px 2px black;
        }
    </style>
</head>

<body>
    <div class="column middle">
        <div class="card">
            <div>
                <p>
                    <br>Urban Legends.  A type of Desire.  “Was real” becomes a Rumor.
                    This kind of thinking was not strange to the world.  Since ancient times, a rumor was likely the accidental product of astronomical probability.
                    Looking from this way of thinking, the world was not chaotic, but orderly.
                    By imagining out a value of this world.
                    <br />
                    <br />
                    Being something that was born from earnest Desire.
                    Illuminate the skies, there are truths mistaken for legends.
                    In the end, nobody knows if they were true.  Do not be mistaken, this does not mean that the urban legends are true.
                    <br />
                    <br />
                    Now then, how did this Urban Legend come about?
                    Ah... that's right, it all started out as any ordinary Rumor.
                    And that Rumor is ...
                    <br />
                    <br />
                </p>
            </div>
            <div id="buttons">
                <a href="https://localhost:44380/MainStory" target="_self"><button class="button">Continue</button></a>
            </div>
        </div>
    </div>

    <div class="column side">
        <div class="card">
            <h2>Current Stats:</h2>
            <p>
                Health : 100
            </p>
        </div>
    </div>

    <div class="column side">
        <div class="card">
            <h2>Other Games</h2>
            <p>
                <a href="https://localhost:44380/Game1" target="_self"><button class="button">Jelly Run</button></a>
                <a href="https://localhost:44380/Game2" target="_self"><button class="button button2">Game 2</button></a>
            </p>
        </div>
    </div>

</body>