@page
@model MainStory1.Pages.MainStory1Model
@{
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 10px;
            background: #5e0202; /*dark red*/
        }

        /* Style the header */
        .header {
            background-color: #5e0202; /*dark red*/
            padding: 20px;
            text-align: center;
        }

        /* Create 2 unequal columns that floats next to each other */
        .column {
            float: left;
            padding: 10px;
        }

            /* Left and right column */
            .column.side {
                width: 25%;
            }

            /* Middle column */
            .column.middle {
                width: 75%;
            }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Add a card effect for articles */
        .card {
            background-color: #555454;
            padding: 20px;
            margin-top: 20px;
        }
    </style>
    <style id="buttons" type="text/css">
        .button {
            background-color: #00a9ff; /*light blue*/
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            font-size: 20px;
            border-radius: 14px;
        }

        .button2 {
            background-color: #004bff; /*blue*/
        }

        .button3 {
            background-color: #00d425; /*Green*/
        }
    </style>
    <style id="text">
        p {
            color: #ffffff;
            text-shadow: 2px 2px black;
            font-size: 20px;
        }

        h1 {
            color: #ffffff;
            text-shadow: 2px 2px black;
        }

        h2 {
            color: #ffffff;
            text-shadow: 2px 2px black;
        }
    </style>
    <style id="strong text">
        strong {
            color: black;
            text-shadow: none;
        }
    </style>
</head>

<body>
    <div class="column middle">
        <div class="card">
            <div>
                <p>
                    "—To everyone, who used up all extremes of strength, violence, desperation, and death.  Show me proof that you, who built towers of corpses, are civilized beings as you so claim."
                    'What is the difference between you and the ‘unintelligent beasts’ ?  All the races unanimously said that there was no need to prove their own intelligence.  But, in front of this barren and abandoned world, this discourse was too empty.
                    Ultimately, there was no answer that was accepted by God.
                    <br />
                    <br />
                    God said.  —From this piece of Heaven, I command that there will be no plundering or bloodshed.  Those words became an Oath, becoming the absolute unchanging law of the world.
                    From that day onwards, war disappeared from the world.  But the population that considered themselves rational sent complaints to God in unison.  Even if war has disappeared, conflict still exists.
                    God said, in that case “Those of the Sixteen Races that claim to be the most intelligent creatures.  Those who use all extremes of your reason, intelligence, ability, and financial resources.
                    Build towers of wisdom, and through that thou shalt prove thine own intelligence”.  God took out sixteen chess pieces and laughed maliciously.  Thus, the Ten Oaths  were born, and war disappeared from the world.
                    All disputes were resolved by Games.  That was the law of the sole God, and that God's name was TET .
                    <br />
                    <br />
                    The Ten Oaths are
                    <br />
                    <strong>1</strong> All bloodshed, war, and pillage are forbidden throughout the world.
                    <br />
                    <strong>2</strong> All disputes are to be resolved through the outcome of games.
                    <br />
                    <strong>3</strong> In games, wagers will be made on what both parties decide to be of equal value.
                    <br />
                    <strong>4</strong> Unless contrary to "Three", the game content and the things wagered do not matter.
                    <br />
                    <strong>5</strong> The challenged party has the right to decide the contents of the game.
                    <br />
                    <strong>6</strong> "As per the Oath", the wager will be unconditionally adhered to.
                    <br />
                    <strong>7</strong> All matters for group conflicts will be decided by a representative.
                    <br />
                    <strong>8</strong> If cheating is detected during a game, it will be regarded as a defeat.
                    <br />
                    <strong>9</strong> The above rules are unconditionally everlasting, upheld in the name of God.
                    <br />
                    <strong>10</strong> Everyone should have fun while playing games.
                </p>
            </div>
            <a href="https://localhost:44380/MainStory2" target="_self"><button class="button">Next</button></a>
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>

    <div class="column side">
        <div class="card">
            <h2>Current Stats:</h2>
            <p>
                Health : 100
            </p>
        </div>
    </div>

    <div class="column side">
        <div class="card">
            <h2>Other Games</h2>
            <p>
                <a href="https://localhost:44380/Game1" target="_self"><button class="button">Jelly Run</button></a>
                <a href="https://localhost:44380/Game2" target="_self"><button class="button button2">Game 2</button></a>
            </p>
        </div>
    </div>
</body>