@page
@model MainStory2.Pages.MainStory2Model
@{
}

<body>
    <div>
        <p>This is main story 3!!!</p>
    </div>
    <a href="https://localhost:44380/End" target="_self"><button class="button">End</button></a>

    <p>Want to go back to the intro?</p>
    <a href="https://localhost:44380/Intro" target="_self"><button class="button">Yes</button></a>
    <a href="https://localhost:44380/End" target="_self"><button class="button">No</button></a>
    <div class="column side">
        <div class="card">
            <h2>Current Stats:</h2>
            <p>
                Health :
            </p>
        </div>
    </div>

    <div class="column side">
        <div class="card">
            <h2>Other Games</h2>
            <p>
                <a href="https://localhost:44380/Game1" target="_self"><button class="button">Game 1</button></a>
                <a href="https://localhost:44380/Game2" target="_self"><button class="button button2">Game 2</button></a>
            </p>
        </div>
    </div>
</body>