@page
@model MainStory.Pages.MainStoryModel
@{
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 10px;
            background: #5e0202; /*dark red*/
        }

        /* Style the header */
        .header {
            background-color: #5e0202; /*dark red*/
            padding: 20px;
            text-align: center;
        }

        /* Create 2 unequal columns that floats next to each other */
        .column {
            float: left;
            padding: 10px;
        }

            /* Left and right column */
            .column.side {
                width: 25%;
            }

            /* Middle column */
            .column.middle {
                width: 75%;
            }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Add a card effect for articles */
        .card {
            background-color: #555454;
            padding: 20px;
            margin-top: 20px;
        }
    </style>
    <style id="buttons" type="text/css">
        .button {
            background-color: #00a9ff; /*light blue*/
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            font-size: 20px;
            border-radius: 14px;
        }

        .button2 {
            background-color: #004bff; /*blue*/
        }

        .button3 {
            background-color: #00d425; /*Green*/
        }
    </style>
    <style id="text">
        p {
            color: #ffffff;
            text-shadow: 2px 2px black;
            font-size: 20px;
        }

        h1 {
            color: #ffffff;
            text-shadow: 2px 2px black;
        }

        h2 {
            color: #ffffff;
            text-shadow: 2px 2px black;
        }
    </style>
</head>

<body>
    <div class="column middle">
        <div class="card">
            <div>
                <p>
                    In a past that was far too long ago.  The Old Deus competed with the ultimate prize of being the supreme, sole God on the line and started a war, along with their servants and created beings.
                    This war lasted for a long, long time.  So long it felt numbing.  There was no land that was not stained with blood, and cries of agony had never ceased to echo through the skies.
                    The civilized races hated each other, slaughtered each other, and continued to repeat their countless killings.  The Elves had small villages as their bases, and they cast magic to hunt their enemies.
                    The Dragonkin used their bodies for killing purposes, and the were beasts devoured their prey like animals.
                    <br />
                    <br />
                    The barren land that was already swallowed by the sunset was also engulfed by the deeper darkness due to the wars waged between the old Deus.
                    The Demon Lords and their allied monsters that were created by the Phantasma  went rampant and dominated the land.  In this kind of world, it did not matter how many nobles, beauties, or warriors there were.
                    Humans were just an insignificant existence.  They had to bet their lives on building their countries and forming clans just to survive.
                    The legendary hero who could be hailed by the bards did not appear and just like that, it was a blood-stained era.  This was a story that was far longer and older than the skies, seas, and land called the ‘Disconnect Board’.
                    <br />
                    <br />
                    However, the war they thought would continue for eternity suddenly ended.  The skies, seas, land, and even the stars that filled the skies.
                    They lost the will to continue this unending, weary war where they died needlessly and without enjoying life.  And just like that, at this point, the Old Deus with the most amount of power left sat on the only throne for a sole God.
                    And so, this Deus who had been watching from the sidelines all this while.  Abstaining from the war from the beginning till the end.  The Deus sat on the throne, looking at the devastation on the land around him.
                    He declared to all the people roaming on the land.
                </p>
            </div>
            <a href="https://localhost:44380/MainStory1" target="_self"><button class="button">Next</button></a>
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>

    <div class="column side">
        <div class="card">
            <h2>Current Stats:</h2>
            <p>
                Health : 100
            </p>
        </div>
    </div>

    <div class="column side">
        <div class="card">
            <h2>Other Games</h2>
            <p>
                <a href="https://localhost:44380/Game1" target="_self"><button class="button">Jelly Run</button></a>
                <a href="https://localhost:44380/Game2" target="_self"><button class="button button2">Game 2</button></a>
            </p>
        </div>
    </div>
</body>