@page
@model MainStory1.Pages.MainStory1Model
@{
}

<body>
    <div>
        <p>This is main story 1!!!</p>
    </div>
    <a href="https://localhost:44380/End" target="_self"><button class="button">End</button></a>

    <p>Want to go back to the intro?</p>
    <a href="https://localhost:44380/Intro" target="_self"><button class="button">Yes</button></a>
    <a href="https://localhost:44380/End" target="_self"><button class="button">No</button></a>
</body>