@page
@model NetCade.Pages.Option2Model
@{
    ViewData["Title"] = "Leave";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 10px;
            background: #5e0202; /*dark red*/
        }

        /* Style the header */
        .header {
            padding: 20px;
            text-align: center;
        }

        /* Create 2 unequal columns that floats next to each other */
        .column {
            float: left;
            padding: 10px;
        }

            /* Left and right column */
            .column.side {
                width: 25%;
            }

            /* Middle column */
            .column.middle {
                width: 75%;
            }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Add a card effect for articles */
        .card {
            background-color: #555454;
            padding: 20px;
            margin-top: 20px;
        }
    </style>
    <style id="buttons" type="text/css">
        .button {
            background-color: #00a9ff; /*light blue*/
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            font-size: 20px;
            border-radius: 14px;
        }

        .button2 {
            background-color: #004bff; /*blue*/
        }

        .button3 {
            background-color: #00d425; /*Green*/
        }
    </style>
    <style id="text">
        p {
            color: #ffffff;
            text-shadow: 2px 2px black;
            font-size: 20px;
        }

        h1 {
            color: #ffffff;
            text-shadow: 2px 2px black;
        }

        h2 {
            color: #ffffff;
            text-shadow: 2px 2px black;
        }
    </style>
</head>

<body>
    <div class="column middle">
        <div class="card">
            <div>
                <p>
                    You chose to leave so that means you are done with the new world and want to go back your old world.  This is the end of the story game for you.
                    <br />
                </p>
                <div class="header">
                    <p>
                        Do you want to go back?
                        <br />
                        <a href="https://localhost:44380/MainStory2" target="_self"><button class="button button2">Yes</button></a>
                        <br />
                    </p>

                    <p>
                        Or do you accept your faith?
                        <br />
                        <a href="https://localhost:44380/End" target="_self"><button class="button button3">Yes</button></a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="column side">
        <div class="card">
            <h2>Current Stats:</h2>
            <p>
                Health : 100
            </p>
        </div>
    </div>

    <div class="column side">
        <div class="card">
            <h2>Other Games</h2>
            <p>
                <a href="https://localhost:44380/Game1" target="_self"><button class="button">Jelly Run</button></a>
                <a href="https://localhost:44380/Game2" target="_self"><button class="button button2">Game 2</button></a>
            </p>
        </div>
    </div>
</body>