@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<head>
    <style>
        body {
            margin: 0;
            padding: 10px;
            background: #5e0202; /*dark red*/
        }
    </style>
</head>

<body>
    <h1>@ViewData["Title"]</h1>
    <p>We don't have any info at this time.</p>
</body>

