@page
@model NetCade.Pages.StoryGameModel
@{
    ViewData["Title"] = "Story Game";
}

<iframe>
    #document
    <!doctype html>
    <html>
    <head></head>
    <body>
        <div class="text-center">
            <canvas></canvas>
            <h1>@ViewData["Title"]</h1>
            <h2>It's @Model.Time  right now!</h2>
        </div>
    </body>
</html>
</iframe>
