@page
@model NetCade.Pages.StoryGameModel
@{
    ViewData["Title"] = "Story Game";
}

<iframe>
    #document
    <!doctype html>
    <html>
    <head></head>

    <body>
        <div class="text-center">
            <h1>@ViewData["Title"]</h1>
            <h2>It's @Model.Time  right now!</h2>

            <canvas>
                <p>
                    This is where your story begins!  You were out having fun with your friends, when out of nowhere you notice somebody running towards your group.
                    Once the person was closer to you, you see that the guy is holding a knife and is still running towards your best friend.

                </p>
            </canvas>
        </div>
    </body>
</html>
</iframe>
